
@{
    ViewBag.Title = "InviteError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/Client/Message/Success.css" rel="stylesheet">
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Message</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="message">
    <div class="card">
        <div style="border-radius: 200px; height: 200px; width: 200px; background: #F3C151; margin: 0 auto;">
            <i class="checkmark">x</i>
        </div>
        <h1>Success</h1>
        <p>You have unsuccessfully send the invitation to your friends<br /> Please try again</p>
    </div>
</div>

